.breadcrumb-nav-wrapper {
  position: relative;
  z-index: 100;
  > .breadcrumb-nav{
    height: auto;
    min-height: 42px;
    max-height: 100px;
  }
}

.breadcrumb-nav {
  margin-top: $default-spacing;
  height: 42px;
  margin-bottom: $default-spacing;
  background-color: $secondary-background-color;
  border-radius: 0 $border-radius $border-radius 0;

  .row [class^="col-"] {
    position: static;
  }

  .breadcrumb {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }
}