.checkout-wrapper{
	padding-top: 40px;
	padding-bottom:40px;
	background-color: #fafbfa;
}
.checkout {
	background-color: #fff;
	font-size: 1rem;
	position: relative;
	&:before {
		position: absolute;
		left: 21px;
		top: 0;
		display: block;
		content: "";
		height: 100%;
		width: 2px;
		background: $border-color;
		z-index: 1;
	}
	.collapse.show {
		padding-left: 21px;
	}
	.collapsing {
		padding-left: 21px;
		//transition: height 0s ease;
	}
	p {
		color: $checkout-text-color;
		font-size: 1.15rem;
	}
	&-user {
		display: block;
		max-width: 144px;
		margin: 0 auto;
		max-height: 144px;
		img {
			width: 100%;

			display: block;
		}
	}
	&-user-small {
		display: flex;
		width: 44px;
		height: 44px;
		img {
			width: 100%;
		}
	}
	&-step {
		border-top: 1px solid #f2f2f2;
		color: #666;
		font-size: 1rem;
		padding: 0;
		position: relative;
		&-body {
			padding: 2rem 2.5rem;
			position: relative;
			@include media-breakpoint-down(sm) {
				padding: 1rem;
			}
			&:before {
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				content: "";
				height: 100%;
				width: 2px;
				background: $orange;
				z-index: 50;
				transition: height .8s ease;
			}
			&.checkout-step-body-single:before{
				background: $orange;
			}
		}
		.btn {
			border: 1px solid $border-color;
			overflow: hidden;
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
		}

		&:last-of-type{
			.checkout-step-body:before{
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				content: "";
				height: 100%;
				width: 2px;
				background: $white;
				z-index: 1;
			}
		}
		&:first-of-type{
			.checkout-step-body:before{
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				content: "";
				height: 100%;
				width: 2px;
				background: $orange;
				z-index: 1;
			}
		}
	}
	&-step-number {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: $border-radius;
		background: $border-color;
		color: $checkout-text-color;
		border: 0;
		font-size: 1rem;
		height: 44px;
		width: 44px;
		margin-right: 26px;
		padding: 6px;
		text-align: center;
	}
	&-step-title {
		width: 100%;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: bold;
		vertical-align: middle;
		display: inline-block;
		margin: 0;
		a {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 100%;
			color: $checkout-text-color;
			text-decoration: none;
			background: $secondary-background-color;
			border-radius: $border-radius;
			&:hover {
				color: $white;
				text-decoration: none;
			}
			&[aria-expanded="true"] {
				color: $white;
				background: $checkout-dark;
				.checkout-step-number {
					background: $orange;
				}
			}
		}
	}
	&-address-step{
		.form-group{
			margin-bottom: 18px;
			display: inline-block;
			width: 100%;
		}
	}
	&-step-active{display: block;}
	&-step-disabled{display: none;}
	&-login{
		form{
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		.login-phone{
			width: 80%;
			margin-right: 10px;
			font-size: 1rem;
		}

	}
	&-sidebar{
		background-color: #fff;
		border:1px solid #eaefe9; padding: 30px; margin-bottom: 30px;
	}
	&-sidebar-merchant-box{
		background-color: #fff;
		border:1px solid #eaefe9;
		margin-bottom: 30px;
	}
	&-total{
		border-bottom: 1px solid #eaefe9;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	&-invoice{
		display: inline-block;
		width: 100%;
		&-title{float: left; color: #30322f;}
		&-price{float: right; color: #30322f;}
	}
	&-charges{
		display: inline-block;
		width: 100%;
		&-title{float: left; }
		&-price{float: right;}
	}
	&-footer-wrapper{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.cart-total{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-end;
			h5{
				font-weight: bold;
				text-transform: uppercase;
				margin-right: 1rem;
			}
			p{
				font-size: 2rem;
				margin-bottom: 0;
				font-weight: bold;
			}
		}
	}
	.pretty{
		width: 100%;
		label{
			width: 100%;
			img{
				max-width: 100px;
				margin: 0 20px;
			}
		}
	}
	img.img-responsive{
		max-width: 100px;
		margin-right: 15px;
	}

}
.panel{
	margin-bottom:5px;
	z-index: 2;
}


.otp-verifaction{margin-top: 30px;}

.charges-free{color: #43b02a; font-weight: 600;}
.checkout-payable{display: inline-block;
	width: 100%; color: #333;}
.checkout-payable-title{float: left; }
.checkout-payable-price{float: right;}

.checkout-cart-merchant-box{
	padding: 20px;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #eaefe9;
	padding-bottom: 20px;
}
.checkout-cart-merchant-name{color: #30322f; float: left;}
.checkout-cart-merchant-item{ float: right; color: #30322f; }
.checkout-cart-products{
	.checkout-charges{ padding: 10px 20px;
		color: #333;}
}

.checkout-cart-item{ border-bottom: 1px solid #eaefe9;
	box-sizing: border-box;
	display: table;
	font-size: 12px;
	padding: 22px 20px;
	width: 100%;}
.checkout-item-list{}
.checkout-item-count{ float: left; }
.checkout-item-img{width: 60px; float: left;}
.checkout-item-name-box{ float: left; }
.checkout-item-title{ color: #30322f; font-size: 1rem;  }
.checkout-item-unit{  }
.checkout-item-price{float: right;color: #30322f; font-size: 1rem; font-weight: 600;}


.checkout-viewmore-btn{padding: 10px; text-align: center;}

.header-checkout-item{text-align: right; padding-top: 20px;}
.checkout-promise-item {
	background-repeat: no-repeat;
	background-size: 14px;
	display: inline-block;
	margin-left: 20px;
	padding-left: 24px;
	color: #30322f;
}
.checkout-promise-item i{padding-right: 10px;color: #43b02a;}

.border-row{
	display: block;
	width: 100%;
	height: 3rem;
	position: relative;
	.border-line{
		display: block;
		width: 100%;
		height: 2px;
		background: $border-color;
	}
	span{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 6rem;
		height: 6rem;
		text-align: center;
		background: $white;
		position: absolute;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}
.bodrer-right-2{
	border-right: 2px solid $border-color !important;
}
.border-vertical{
	position: absolute;
	display: block;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	background: $border-color;
	span{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 4rem;
		height: 4rem;
		text-align: center;
		background: $white;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	@include media-breakpoint-down(sm) {
		left: auto;
		right: 0;
	}
	@include media-breakpoint-down(xs) {
		display: none;
	}
}
.card{
	height: 100%;
	.list-group-item{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.card-text{
			color: inherit;
		}
		.card-price{
			font-weight: bold;}
	}
}