.product-detail-tabs{
	width: 100%;
	border-radius: $border-radius;
	.navbar{
		background: $secondary-background-color;
		justify-content: center;
		border: 0;
		padding: 0;
		.nav-item{
			margin-bottom: 0;
		}
		.nav-link{
			padding: .8rem 1rem;
			&:hover{
				border: 1px solid transparent;
			}
			&.active{
				color: $product-text-color;
				border: 1px solid transparent;
				border-radius: 0;
				background: $white;
			}
		}
		&.fixed{
			position: fixed;
			top: 80px;
			left: 0;
			background: $white;
			width: 100%;
			z-index: 50;
		}
	}
	.product-detail-content{
		padding: 2rem 0;
		//overflow: scroll;
		min-height: 80vh;
		h2,
		h3{
			font-weight: bold;
		}
		h2,
		h3,
		p{
			margin-bottom: 1rem;
		}
	}
	.productPadding{

	}
}