.product{
	margin-bottom: 0 !important;
	background: $white;

	&_title{
		font-weight: bold;
		margin-bottom: 1rem;
	}
	&_id{
		color: $dark-text-color;
		font-size:  0.8571rem;
		margin-bottom: 1rem;
		font-weight: bold;
		@include media-breakpoint-down(xs) {
			font-size:  0.8rem;
		}
	}
	&_row{
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: nowrap;
		margin-bottom: 1rem;
		@include media-breakpoint-down(xs) {
			flex-direction: column;
			justify-content: center;
		}
	}
	&_price{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 200px;
		@include media-breakpoint-down(sm) {
			max-width: 50%;

		}
		@include media-breakpoint-down(xs) {
			max-width: 100%;
			width: 100%;
		}
		&__old{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		&__count{
			color: $dark-text-color;
			width: 45%;
			font-weight: bold;
			font-size: 1.429rem;
			text-decoration: line-through;
			@include media-breakpoint-down(xs) {
				width:30%;
				display: flex;
				justify-content: flex-end;
				padding: 0 1rem;
			}
		}
		&__sale{
			display: flex;
			position: relative;
			height: 24px;
			width: 60%;
			border-top: 24px solid $orange;
			border-right: 8px solid transparent;
			span{
				position: absolute;
				top: -24px;
				left: 5px;
				font-weight: bold;
				color: $black;
				font-size:  0.8571rem;
				line-height: 24px;
			}
			@include media-breakpoint-down(xs) {
				width:30%;
			}
		}
		.price{
			font-size: 2.857rem;
			flex-direction: row;
			justify-content: space-between;
			sup{
				margin: 0 4px;
			}
			@include media-breakpoint-down(sm) {
				font-size: 1.857rem;
				width: 100%;
				margin-bottom: 1rem;
			}
			@include media-breakpoint-down(xs) {
				text-align: center;
				align-items: center;
			}
		}
	}

	&_ship{
		display: flex;
		width: 50%;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
		&__label{
			width: 30%;
			color: $dark-text-color;
			.fa{
				margin-right: 5px;
			}
			@include media-breakpoint-down(xs) {
				width: 50%;
			}
		}
		&__label_info{
			width: 50%;
			display: flex;
			flex-direction: column;
		}
		@include media-breakpoint-down(sm) {
			font-size: .8rem;
		}
		@include media-breakpoint-down(xs) {
			width: 100%;
		}
	}
	.badge{
		margin-bottom: 1rem;
		@include media-breakpoint-down(xs) {
			font-size:  0.8rem;
			margin-bottom: .5rem;
		}
	}
	p{
		color: $product-text-color;
		@include media-breakpoint-down(xs) {
			font-size: .8rem;
		}
	}

	&_tel{
		display: block;
		font-size: 1.5rem;
		font-weight: bold;
		.fa{
			margin-right: 5px;
		}
		&:hover{
			text-decoration: none;
		}
		@include media-breakpoint-down(xs) {
			text-align: center;
		}
	}
	&_text{
		@include media-breakpoint-down(xs) {
			text-align: center;
		}
	}
	&-left{
		&_mobile{
			display: none;
			width: 80px;
			height: 80px;
			img{
				width: 100%;
				display: block;
			}
		}
	}
	.table{
		@include media-breakpoint-down(xs) {
			font-size: .8em;
			margin-bottom: .5rem;
			th{
				width: 50%;
			}
			thead th{
				font-size: .8em;
			}
		}
	}
}
.product_header {
	&.fixed {
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: fixed;
		padding-top: 0;
		z-index: 100;
		width: 100%;
		top: 0;
		left: 0;
		background: $white;
		transition: all .4s ease-in-out;
		.row{
			max-width: 1440px;
			display: flex;
		}
		.productCarousel {
			display: none;
		}
		.productThumbCarousel {
			display: none;
		}
		.product-left {
			width: 100px;
			max-width: 100px;
			margin-bottom: 0 !important;
			&_mobile {
				display: flex;
			}
		}
		.product-right {
			width: 100%;
			max-width: 100%;
			flex: 1;
			display: flex;
			align-self: center;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: nowrap;
		}
		.product_title {
			width: 55%;
			font-size: 20px;
			line-height: 1;
			font-weight: bold;
			text-align: left;
			margin-bottom: 0;
		}
		.product_price {
			display: flex;
			width: 100%;
		}
		.product_price__old {
			width: 200px;
		}
		.product_price__count {
			font-size: 1rem;
		}
		.price {
			font-size: 1.2rem;
		}
		.product_row {
			width: auto;
			margin-bottom: 0;
		}
		.add-to-cart{
			margin-bottom: 0;
			margin-right: 1rem;
		}
		.product_id,
		.product_ship,
		.badge,
		.product_text,
		.product_tel {
			display: none;
		}
		.product_price__sale{
			border-right: 0;
			border-left: 8px solid transparent;
			span{
				left: inherit;
				right: 10px;
			}
		}
	}
}
.productCarousel{
	max-width: 450px;
	margin: 0 auto 10px;
	overflow: hidden;
	position: relative;
	z-index: 10;
}

.productThumbCarousel{
	max-width: 450px;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	@include media-breakpoint-down(sm) {
		max-width: 100%;
	}
	.slick-slider{
		height: 80px;
		overflow: hidden;
		position: relative;
		.slick-arrow{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 50;
			height: 80px;
			width: 40px;
			background: $white;
			.fa{
				font-size: 2rem;
				color: $darkred;
			}
			@include media-breakpoint-down(sm) {
				width: 80px;
			}
			@include media-breakpoint-down(xs) {
				width: 30px;
			}
		}
		.slick-prev{
			left: 0;
		}
		.slick-next{
			right: 0;
		}
	}
	.slick-list{
		overflow: hidden;
		height: 80px;
		padding: 0 40px;
		@include media-breakpoint-down(sm) {
			padding: 0 80px;
		}
		@include media-breakpoint-down(xs) {
			padding: 0 30px;
		}
	}
	.thumb{
		float: left;
		width: 80px;
		display: inline-block;
		height: 80px;

		overflow: hidden;
		&:last-child{  margin-right: 0;  }
		&:hover{  cursor: pointer;  }
		img{
			width: 100%;
			max-width: 80px;
			height: 100%;
			margin: 0 auto;
			border: 1px solid #e6e6e6;
			background: #fff;
			border-radius: $border-radius;
		}
		&.slick-current img{
			opacity: 1;
			border: 1px solid $red;
		}

	}

}
.slick-slide img{
	width: 100%;
}
