// Exends and overrides Bootstrap badges

.badge {
  text-transform: uppercase;
  padding: $default-spacing-2;
}

.badge-angle {
  position: relative;
  border-radius: 0;
  padding: $default-spacing-3;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -7px;
    bottom: 0;
    transform: skew(-20deg);
    width: 14px;
  }
}

.badge-discount {
  @include badge-variant($orange);

  border-radius: 0;
  color: $ash;
}

.badge-new {
  @include badge-variant($green);
}
.badge-stoc {
  @include badge-variant($green);
  border-radius: 0;
  text-transform: capitalize;
  &.badge-discount{
    @include badge-variant($orange);
  }
}

.badge-popular {
  @include badge-variant($blue);
}

.badge-secondary {
  @include badge-variant($gray-600);
}
.badge-block{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 0;
  .badge{
    font-size: $normal-font-size;
    &+ .badge{
      margin-top: 15px;
    }
  }
}