// Exends and overrides Bootstrap breadcrumbs

.breadcrumb-item + .breadcrumb-item:before {
  content: $fa-var-angle-right;
  font-family: $awesome-font-face;
  padding: 0 $default-spacing;
  color: $light-icon-color;
}
.breadcrumb-inner{
  width: 100%;
  padding: 0;
  margin: 0;
  .breadcrumb{
    margin: 0;
    background-color: white;
    border-radius: 0;
    border: 1px solid $border-color;
  }
}