// Exends and overrides Bootstrap buttons

.btn {
  &:focus,
  &:active {
    box-shadow: none;
  }
}

.btn-secondary {
  color: $ash;
}

.btn-facebook {
  @include button-variant($facebook-color, $white);
  i {
    margin-right: $default-spacing-2;
  }
}

.btn-twitter {
  @include button-variant($twitter-color, $white);

  i {
    margin-right: $default-spacing-2;
  }
}

.btn-google-plus {
  @include button-variant($google-plus-color, $white);

  i {
    margin-right: $default-spacing-2;
  }
}

.btn-facebook,
.btn-twitter,
.btn-google-plus {
  //padding: $input-btn-padding-y $default-spacing-1;
  border: 0;
}
.btn-submit{
  color: $hyperlink-color;
  &:hover,
  &:focus{
    cursor: pointer;
    outline: none;
    color: $hyperlink-hover-color;
  }
}
.btn-at {
  @include button-variant($darkred, $white);

  position: relative;
  overflow: hidden;
  border: none;
  text-transform: uppercase;
  padding-right: 65px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: -1px;
    bottom: -1px;
    left: calc(100% - 45px);
    background-color: $orange;
    transform: skewX(-15deg);
  }

  i:last-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $ash;
    right: 15px;
    z-index: 1;
    font-size: 1.2rem;
  }
}

.btn-icon {
  @include button-variant(transparent, transparent);

  color: $light-icon-color;

  &:hover {
    color: $light-icon-color;
  }

  &:focus {
    box-shadow: none;
  }
}
.add-to-cart{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 60px;
  background: linear-gradient(100deg, $darkred 70%, $orange 59%);
  border-radius: $border-radius;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  .fa{
    color: $black;
    font-size: 2rem;
  }
  &:hover{
    color: $white;
    text-decoration: none;
    background: linear-gradient(100deg, darken($darkred, 10%) 70%, darken($orange, 10%) 59%);
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    background: linear-gradient(100deg, $darkred 85%, $orange 59%);
    span{
      width: 100%;
    }
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
    background: linear-gradient(100deg, $darkred 80%, $orange 59%);
    .fa{
      font-size: 1rem;
    }
  }
}
.scrollTop{
  position: fixed;
  bottom: 10%;
  opacity: 0;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  background-color: $darkred;
  box-shadow: 0 2px 2px #eee;
  z-index: 100;
  color: #fff;
  margin: 0 auto;
  outline: 0;
  &.left{
    left: 14%;
  }
  &.right{
    right: 15%;
  }
  &.center{
    left: 50%;
    transform: translateX(-50%);
  }
  &.right-content{
    left: 61.5%;
    transform: translateX(-50%);
  }
  &.show{
    opacity: 1;
  }
}