.pretty{
	white-space: unset;
	.state{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		label{
			display: block;
			span{
				display: block;
				font-weight: 100;
				margin-top: 5px;
			}
			&:before,
			&:after{
				top: 50%;
				margin-top: -8px;
			}
			&.multi-label{
				&:before,
				&:after{
					top: 25%;
				}
			}
			//&.w-75{
			//	@include media-breakpoint-down(sm) {
			//		width: 100%;
			//	}
			//}
		}
	}
}
.pretty.p-default .btn{
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
	@include media-breakpoint-down(sm) {
		width: auto;
	}
}
.pretty.p-default input:checked ~ .btn{
	display: inline-block;}
.pretty.p-default input:checked ~ .state label:before,
.pretty.p-default input:checked ~ .state label:after{
	border:5px solid $danger ;
}
.pretty.p-default input:checked~.state label:after{
	background: $white !important;
}
.login-form{
	display: flex;
	width: 100%;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	&-group{
		display: flex;
		width: 100%;
		flex-direction: column;
		margin-bottom: 1rem;
	}
	&-label{
		display: flex;
		width: 100%;
	}
	.login-phone{
		width: 100%;
	}
}
