a.product-preview-large(href='#')
  .badge-block
    div.badge.badge-angle.badge-discount -25%
    div.badge.badge-angle.badge-new NOU
    div.badge.badge-stoc.badge-stoc2 badge-stoc
  .product-preview-image
    img(src=require('../../assets/polizor.jpg') width='150' height='150')
  .product-preview-title 
    .product-preview-title-inner
      h2 Bosch - GSR 18 V-EC - KIT + GDR 18 V-LI - Pachet Masina de gaurit si insurubat si Masina de insurubat cu impact cu 2 acumulatori, Li-Ion, 18 V si 5 Ah, geanta textila
  .product-preview-price
    s 654 Lei
    include price.pug
  .add-to-cart
    button.btn.btn-at.btn-block
      | Adaugă în coș
      i.fa.fa-cart-plus