a.product-preview(href='#')
  .badge.badge-angle.badge-new Nou
  img.product-preview-image(src=require('../../assets/polizor.jpg') width='150' height='150')
  span.product-preview-title Makita GA5030 Polizor unghiular 720 W
  include price.pug
