.product-detail-tabs
    nav#product-detail-info.navbar
        ul.nav(data-spy="affix", data-offset-top="197")
            li.nav-item.active
                a.nav-link.active(href='#one') Descriere
            li.nav-item
                a.nav-link(href='#two') Specificații tehnice
            li.nav-item
                a.nav-link(href='#three') Accesorii compatibil
    div.product-detail-content
        .product-detail-content-item#one
            h2 Descriere
            p Motocoasa Ruris 7088 este ideala pentru afanarea si fertilizarea pamantului, pregatirea razoarelor si distrugerea buruienilor.
            p Motosapele Ruris din gama 7088 sunt echipate cu un motor Kama de 7 CP si sunt eficiente pentru lucrarea suprafetelor de pana
                | la 5000 mp, cu un randament de aproximativ 500 mp lucrati pe ora si un consum de benzina fara Pb de 0.8 l/ora de
                | functionare. Alte avantaje ale motosapatoarei sunt: latimea de lucru reglabila a frezelor (500 - 1000 mm), cutia de viteze
                | cu 2 trepte inainte si 1 inapoi, reglarea turatiei frezelor sau adaptarea la tipul de sol.
            p Coarne ajustabile stanga/dreapta.
        include product-detail-table
        .product-detail-content-item#three.related-products
            p.related-products-title Compară cu produse similare
            .related-products-nav
                button.btn.btn-secondary.related-products-prev
                    i.fa.fa-angle-left
                button.btn.btn-secondary.related-products-next
                    i.fa.fa-angle-right
            ul.related-products-list
                each val, index in Array(12).fill(0)
                    li.related-product
                        include ../atoms/product-preview.pug
