#two
    h2 Specificații tehnice

    table.table.table-striped
        thead
            tr
                th ATRIBUTE ESENȚIALE
        tbody
            tr
                th(scope='row') Motor
                td Karma 7 CP, benzina fara plumb cmc
            tr
                th(scope='row') Adâncimea de lucru
                td 150-250 mm
            tr
                th(scope='row') Cutie de viteze
                td 2 inainte + 1 inapoi
            tr
                th(scope='row') Suprafata medie lucrată
                td 5000 m2
            tr
                th(scope='row') Lățimea de lucru
                td 500 - 1000 mm

    table.table.table-striped
        thead
            tr
                th ACARACTERISTICI ACUMULATORI
        tbody
            tr
                th(scope='row') Set de livrare
                td
                    |roti de cauciuc .
                    br
                    |plug.
                    br
                    |rarita.
                    br
                    |cultivator.
                    br
                    |dispozitiv de scos cartofi
    table.table.table-striped
        thead
            tr
                th INFORMAȚII SUPLIMENTARE
        tbody
            tr
                th(scope='row') Motor
                td Karma 7 CP, benzina fara plumb cmc
            tr
                th(scope='row') Adâncimea de lucru
                td 150-250 mm