#productCarousel.productCarousel
    .carousel-inner
        .item.active
            img(src='assets/product/product-01.png', alt='')
        .item
            img(src='assets/product/product-02.png', alt='')
        //.item
        //    img(src='assets/product/product-01.png', alt='')
        //.item
        //    img(src='assets/product/product-02.png', alt='')
        //.item
        //    img(src='assets/product/product-01.png', alt='')

#productThumbCarousel.productThumbCarousel
    .productThumbCarousel-list
        .thumb.active(data-target='#productCarousel', data-slide-to='0')
            img(src='assets/product/product-01.png', alt='product-prev-01')
        .thumb(data-target='#productCarousel', data-slide-to='1')
            img(src='assets/product/product-02.png', alt='product-prev-02')
        //.thumb(data-target='#productCarousel', data-slide-to='2')
        //    img(src='assets/product/product-01.png', alt='product-prev-03')
        //.thumb(data-target='#productCarousel', data-slide-to='3')
        //    img(src='assets/product/product-02.png', alt='product-prev-04')
        //.thumb(data-target='#productCarousel', data-slide-to='4')
        //    img(src='assets/product/product-01.png', alt='product-prev-05')