include category-selector.pug

.breadcrumb-nav-wrapper.container-fluid.hidden-sm-down
  .breadcrumb-nav
    .row
      .col-3
        +category-selector(true)
      .col-9.pl-0
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Home
          li.breadcrumb-item
            a(href="#") Library
          li.breadcrumb-item.active Data
            | DataDataDataDataDataData
            | DataDataDataDataDataDataData
            | DataDataDataDataDataDataData
            | DataDataDataDataDataData
            | DataDataDataDataDataData
            | DataDataDataDataDataDataData
            | DataDataDataDataDataDataDataDataDataDataDataDataData
