extends layout.pug

block content
  include header.pug

  .cart.container
    h2 Coș de cumparaturi
    each val, index in Array(4).fill(0)
      .cart-item
        button.btn.btn-icon
          i.fa.fa-close
        .cart-item-image
          a(href="#")
            img(src=require('../assets/polizor.jpg'))
        .cart-item-details
          .cart-item-desc
            h3 Makita GA5030 Polizor unghiular 720 W
            div
              .badge.badge-secondary În stoc furnizor
              small.text-muted Te vom contacta pentru termenul de livrare
            table.delivery-warranty
              tr
                td
                  i.fa.fa-truck
                  |  Livrare
                td 14,99 Lei
              tr
                td
                  i.fa.fa-certificate
                  |  Garanție
                td 24 luni - persoane fizice <br/> 12 luni - persoane juridice
          .cart-item-qty
            input.form-control(type="number", value="1")
            |  buc.
          .cart-item-price
            span.cart-item-price-new 460<sup>99</sup> <span class="cart-item-currency">Lei</span>
            span.cart-item-price-old <s>713<sup>99</sup></s> <span class="cart-item-currency">Lei</span>
            div
              .badge.badge-discount Reducere 12%
        .cart-item-footer
          a(href="#") Vezi piese și accesorii pentru acest produs
    .cart-item.cart-voucher
      h4 Card cadou
      p Ai un voucher de reduceri sau card cadou? Îl poți folosi mai jos:
      .row
        .col-md-8
          input.form-control(type="text", placeholder="Introdu codul cardului aici...")
        .col-md-4
          button.btn.btn-secondary.btn-block Adaugă cod la comandă
  include cart-footer