.cart-footer-wrapper
    .cart-footer
        .container
            .cart-summary-wrapper
                .cart-summary
                    h4 Sumar comandă
                    p Total produse <span class="cart-summary-amount">3.999<sup>99</sup> Lei</span>
                    p Cost livrare <span class="cart-summary-amount">15<sup>99</sup> Lei</span>
            .cart-total
                h4 Total
                p 5.999<sup>99</sup>&nbsp;Lei
            .cart-order
                button.btn.btn-at.btn-block.btn-lg
                    | Comandă
                    i.fa.fa-chevron-right
.cart-services
    .container
        .services-item
            .services-icon
                i.fa.fa-lock
            .services-title Cumperi în siguranță
            .services-content Toate datele sunt transmise securizat pentru cumparaturi in deplina siguranta
        .services-item
            .services-icon
                i.fa.fa-phone
            .services-title Suport telefonic
            .services-content Sună-ne la <a href="">0374.770.344</a> de <b>Luni până vineri</b> între <b>8-18</b> și <b>Sâmbăta</b> între <b>8-14</b>
        .services-item
            .services-icon
                i.fa.fa-undo
            .services-title 30 de zile drept de retur
            .services-content Pentru toate produsele vândute de AtelierulTău.ro
        .services-item
            .services-icon
                i.fa.fa-map-marker
            .services-title Adresa showroom
            .services-content Bld. Gheorghe Șincai nr. 13, bl. 5, ap. 1, inerfon 01, București.
        .services-item
            .services-icon
                i.fa.fa-clock-o
            .services-title Program showroom
            .services-content Luni - Vineri: 09:00 - 18:00. Sâmbătă: 09:00 - 14:00.
        .services-item
            .services-icon
                i.fa.fa-info-circle
            .services-title Alte informații
            .services-content <a href="#">Metode de plată<a> <a href="#">Transport și livrare</a> <a href="#">Garanție</a> <a href="#">Despre noi</a>
.footer-copy
    .container
        span &copy; 2016 AtelierulTau.ro