.footer
  .footer-signup
    // Sign-up input for tablet and larger resolutions
    .input-group.hidden-sm-down
      input.form-control.form-control-lg(type='text', placeholder='Înscrie-te cu adresa de email și afli primul promoțiile…')
      |
      span.input-group-btn
        button.btn.btn-primary.btn-lg(type='button') Ma inscriu

    // Sign-up input for phones
    .input-group.hidden-md-up
      input.form-control.form-control(type='text', placeholder='Înscrie-te cu adresa de email și afli primul promoțiile…')
      |
      span.input-group-btn
        button.btn.btn-primary.btn(type='button') Ma inscriu
  .container.row
    .footer-contact.col-md-4
      img(src=require('../assets/logo.png'), width='282', height='52')
      .footer-contact-section
        h4 Adresa
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, blanditiis debitis at.
      .footer-contact-section
        h4 Program
        ul
          li Luni - Vineri: 09:00 - 18:00
          li Sambata: 09:00 - 14:00
      .footer-contact-section
        h4 Telefoane
        ul
          li
            | Magazin -&nbsp;
            a(href='tel:0734770344') 0734.770.344
          li
            | Piese de schimb -&nbsp;
            a(href='tel:0734770345') 0734.770.345
          li
            | Plati/expeditii/contabilitate -&nbsp;
            a(href='tel:0734770350') 0734.770.350
    .footer-links.col-md-8
      .row
        .footer-links-list.col-sm-12.col-md-4
          h4 Lorem Ipsum
          ul
            li
              a(href='#') Lorem Ipsum
            li
              a(href='#') Lorem Ipsum
            li
              a(href='#') Lorem Ipsum
            li
              a(href='#') Lorem Ipsum
        .footer-links-list.col-sm-12.col-md-4
          h4 Lorem Ipsum
          ul
            li
              a(href='#') Lorem Ipsum
            li
              a(href='#') Lorem Ipsum
            li
              a(href='#') Lorem Ipsum
            li
              a(href='#') Lorem Ipsum
        .footer-links-list.col-sm-12.col-md-4
          h4 Lorem Ipsum
          ul
            li
              a(href='#') Lorem Ipsum
            li
              a(href='#') Lorem Ipsum
            li
              a(href='#') Lorem Ipsum
            li
              a(href='#') Lorem Ipsum
      ul.footer-links-social
        li
          a(href='#')
            i.fa.fa-facebook
        li
          a(href='#')
            i.fa.fa-twitter
        li
          a(href='#')
            i.fa.fa-youtube-play
        li
          a(href='#')
            i.fa.fa-pinterest-p
        li
          a(href='#')
            i.fa.fa-linkedin
.footer-copy
  .container
    span &copy; 2016 AtelierulTau.ro
