.header
  // Top header for tablet and larger resolutions
  .top-header.hidden-sm-down
    .container
      .row
        ul.nav.col-md-5.col-sm-3
          li.nav-item
            a.nav-link(href='#') Start
          li.nav-item
            a.nav-link(href='#') Contact
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') Ajutor
            .dropdown-menu
              a.dropdown-item(href='') Help 1
              a.dropdown-item(href='') Help 2
              a.dropdown-item(href='') Help 3
        ul.nav.col-md-7.col-sm-9.justify-content-end
          a.nav-link(href='#')
            i.fa.fa-user(aria-hidden='true')
            |  Nu ai cont? Creeza unul nou.
          a.nav-link.new-account-link(href='#')
            i.fa.fa-lock(aria-hidden='true')
            |  Ai deja cont? Autentifica-te aici
  
  // Main header for tablet and larger resolutions
  .main-header.hidden-sm-down
    .container
      a.header-logo(href="/")
        img(src=require('../assets/logo.png'), width='282', height='52')
      form.header-search.input-group
        input.form-control.header-search-input(type="text", placeholder="Cauta un produs...")
        .input-group-btn
          button.btn.btn-secondary.dropdown-toggle(type="button", data-toggle="dropdown") Toate categoriile
          .dropdown-menu
            a.dropdown-item(href="#") Categorie 1
            a.dropdown-item(href="#") Categorie 2
            a.dropdown-item(href="#") Categorie 3
        .input-group-btn
          button.btn.btn-primary(type="button")
            i.fa.fa-search
      .header-cart
        .header-cart-icon
          i.fa.fa-shopping-cart
          .header-cart-counter.badge.badge-primary.badge-pill 24
        .header-cart-info
          .header-cart-dropdown
            | Cos cumparaturi&nbsp;
            i.fa.fa-angle-down
          .header-cart-price
            | 83219,00&nbsp;
            span.currency Lei
  
  // Mobile header
  .mobile-header.hidden-md-up
    nav.navbar.navbar-light.navbar-expand-lg
      button.navbar-toggler.navbar-toggler-left(type='button', data-toggle='collapse', data-target='#navbarNav')
        span.navbar-toggler-icon
      a.navbar-brand(href="/")
        img(src=require('../assets/logo.png'), width='150')
      .mobile-header-right-controls
        .header-search-icon
          i.fa.fa-search
        .header-cart-icon
          i.fa.fa-shopping-cart
          .header-cart-counter 24
      #navbarNav.collapse.navbar-collapse
        .navbar-nav
          a.nav-item.nav-link(href='#') Start
          a.nav-item.nav-link(href='#') Contact
          a.nav-item.nav-link(href='#') Login
          
          <div class="dropdown-divider"></div>
          .nav-item.dropdown
            a.nav-link.dropdown-toggle(id="scule-electrice-header-button", data-toggle="dropdown")
              | Scule electrice
            .dropdown-menu(aria-labelledby="scule-electrice-header-button")
              a.dropdown-item(href="#") Lorem Ipsum
              a.dropdown-item(href="#") Lorem Ipsum
              a.dropdown-item(href="#") Lorem Ipsum
          .nav-item.dropdown
            a.nav-link.dropdown-toggle(id="scule-de-mana-header-button", data-toggle="dropdown")
              | Scule de mână
            .dropdown-menu(aria-labelledby="scule-de-mana-header-button")
              a.dropdown-item(href="#") Lorem Ipsum
              a.dropdown-item(href="#") Lorem Ipsum
              a.dropdown-item(href="#") Lorem Ipsum
          .nav-item.dropdown
            a.nav-link.dropdown-toggle(id="aparate-utilaje-header-button", data-toggle="dropdown")
              | Aparate și utilaje
            .dropdown-menu(aria-labelledby="aparate-utilaje-header-button")
              a.dropdown-item(href="#") Lorem Ipsum
              a.dropdown-item(href="#") Lorem Ipsum
              a.dropdown-item(href="#") Lorem Ipsum
          .nav-item.dropdown
            a.nav-link.dropdown-toggle(id="piese-accesorii-header-button", data-toggle="dropdown")
              | Piese și accesorii
            .dropdown-menu(aria-labelledby="piese-accesorii-header-button")
              a.dropdown-item(href="#") Lorem Ipsum
              a.dropdown-item(href="#") Lorem Ipsum
              a.dropdown-item(href="#") Lorem Ipsum