include mixins.pug
include category-selector.pug
.header
  // Top header for tablet and larger resolutions
  .top-header.hidden-sm-down
    .container
      .row
        ul.nav.col-md-5.col-sm-3
          li.nav-item
            a.nav-link(href='#') Start
          li.nav-item
            a.nav-link(href='#') Contact
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') Ajutor
            .dropdown-menu
              a.dropdown-item(href='') Help 1
              a.dropdown-item(href='') Help 2
              a.dropdown-item(href='') Help 3
        ul.nav.col-md-7.col-sm-9.justify-content-end
          a.nav-link(href='#')
            i.fa.fa-user(aria-hidden='true')
            |  Nu ai cont? Creeza unul nou.
          a.nav-link.new-account-link(href='#')
            i.fa.fa-lock(aria-hidden='true')
            |  Ai deja cont? Autentifica-te aici
  
  // Main header for tablet and larger resolutions
  .main-header
    .container
      a.header-logo(href="/").hidden-sm-down
        img(src=require('../assets/logo.png'), width='282', height='52')
      form.header-search.input-group
        input.form-control.header-search-input(type="text", placeholder="Cauta un produs...")
        .input-group-btn
          button.btn.btn-secondary.dropdown-toggle(type="button", data-toggle="dropdown") Toate categoriile
          .dropdown-menu
            a.dropdown-item(href="#") Categorie 1
            a.dropdown-item(href="#") Categorie 2
            a.dropdown-item(href="#") Categorie 3
        .input-group-btn
          button.btn.btn-primary(type="button")
            i.fa.fa-search
        .input-group-btn.hidden-md-up
          button#closeMobileSearch.btn.btn-primary
            i.fa.fa-close
          //button#closeMobileSearch.btn.btn-primary.hidden-sm-up
      .header-cart.hidden-sm-down
        .header-cart-icon
          i.fa.fa-shopping-cart
          .header-cart-counter.badge.badge-primary.badge-pill 24
        .header-cart-info
          .header-cart-dropdown
            | Cos cumparaturi&nbsp;
            i.fa.fa-angle-down
          .header-cart-price
            | 83219,00&nbsp;
            span.currency Lei
  
  // Mobile header
  //.mobile-header.hidden-md-up
  .mobile-header
    nav.navbar.navbar-light
      button.navbar-toggler.navbar-toggler-left(type='button', data-toggle='collapse', data-target='#navbarNav')
        span.navbar-toggler-icon
      a.navbar-brand(href="/")
        img(src=require('../assets/logo.png'), width='150')
      form.header-search.input-group
        input.form-control.header-search-input(type="text", placeholder="Cauta un produs...")
        .input-group-btn
          button.btn.btn-primary(type="button")
            i.fa.fa-search
      .mobile-header-right-controls
        a(href="#").nav-link Contact
        a(href="#").nav-link Ajutor

        .header-cart
          .header-cart-icon
            i.fa.fa-shopping-cart
            .header-cart-counter.badge.badge-primary.badge-pill 24
          .header-cart-info
            .header-cart-dropdown
              | Cos cumparaturi&nbsp;
              i.fa.fa-angle-down
            .header-cart-price
              | 83219,00&nbsp;
              span.currency Lei
      //#navbarNav.navbar-collapse.collapse
      #navbarNav.hidden-md-up
        .category-selector-items.collapsed
          .category-selector-item
            .category-selector-button(id="scule-electrice-button")
              +icon('hand-drill')
              | Scule electrice
              i.fa.fa-chevron-right
            .category-selector-menu(aria-labelledby="scule-electrice-button")
              .category-selector-menu-items
                h4 Aparate de măsură
                ul
                  li
                    a(href="#") Nivele laser cu linii
                  li
                    a(href="#") Nivele laser cu puncte
                  li
                    a(href="#") Nivele laser rotative
                  li
                    a(href="#") Nivele optice
                  li
                    a(href="#") Receptoare
                  li
                    a(href="#") Telemetre
                  li
                    a(href="#") Teodolite electronice
                  li
                    a(href="#") Goniometre si clinometre
                  li
                    a(href="#") Suporturi, stative și accesorii
                h4 Aparate de măsură
                ul
                  li
                    a(href="#") Nivele laser cu linii
                  li
                    a(href="#") Nivele laser cu puncte
                  li
                    a(href="#") Nivele laser rotative
                  li
                    a(href="#") Nivele optice
                h4 Aparate de măsură
                ul
                  li
                    a(href="#") Nivele laser cu linii
                  li
                    a(href="#") Nivele laser cu puncte
                  li
                    a(href="#") Nivele laser rotative
                  li
                    a(href="#") Nivele optice
                  li
                    a(href="#") Receptoare
                  li
                    a(href="#") Telemetre
                  li
                    a(href="#") Teodolite electronice
                  li
                    a(href="#") Goniometre si clinometre
                  li
                    a(href="#") Suporturi, stative și accesorii
              .category-selector-menu-extra
                h4 Aparate de măsură
                ul
                  li
                    a(href="#") Nivele laser linii
                  li
                    a(href="#") Nivele laser puncte
                  li
                    a(href="#") Nivele laser
                  li
                    a(href="#") Nivele optice
                  li
                    a(href="#") Receptoare
                  li
                    a(href="#") Telemetre
                  li
                    a(href="#") Teodolite electro
                  li
                    a(href="#") Goniometre
                  li
                    a(href="#") Suporturi
                  li
                    a(href="#") Receptoare
                  li
                    a(href="#") Telemetre
                  li
                    a(href="#") Teodolite electro
                  li
                    a(href="#") Goniometre
                  li
                    a(href="#") Suporturi
                  li
                    a(href="#") Receptoare
                  li
                    a(href="#") Telemetre
                  li
                    a(href="#") Teodolite electro
                  li
                    a(href="#") Goniometre
                  li
                    a(href="#") Suporturi
          .category-selector-item
            .category-selector-button(id="scule-de-mana-button")
              +icon('wrench-screwdriver')
              | Scule de mână
              i.fa.fa-chevron-right
            .category-selector-menu(aria-labelledby="scule-de-mana-button")
              | You know the drill...
          .category-selector-item
            .category-selector-button(id="aparate-utilaje-button")
              +icon('multimeter')
              | Aparate și utilaje
              i.fa.fa-chevron-right
            .category-selector-menu(aria-labelledby="aparate-utilaje-button")
              | You know the drill...
          .category-selector-item
            .category-selector-button(id="piese-accesorii-button")
              +icon('drill-sencondary')
              | Piese și accesorii
              i.fa.fa-chevron-right
            .category-selector-menu(aria-labelledby="piese-accesorii-button")
              | You know the drill...
