extends layout.pug

block content
  .container(style="padding-top: 20px")
    .row
      .col-md-6
        h4 Atelierul Tau Pages
        .list-group
          a.list-group-item.list-group-item-action(href="main.html") Main
          a.list-group-item.list-group-item-action(href="accessories.html") Accessories
          a.list-group-item.list-group-item-action(href="accessories-listing.html") Accessories Listing
          a.list-group-item.list-group-item-action(href="cart.html") Cart
          a.list-group-item.list-group-item-action(href="new-account.html") New Account
          a.list-group-item.list-group-item-action(href="product.html") Product
          a.list-group-item.list-group-item-action(href="checkout.html") Checkout-1
          a.list-group-item.list-group-item-action(href="checkout-social-login.html") Checkout social login
          a.list-group-item.list-group-item-action(href="checkout-2.html") Checkout-2
          a.list-group-item.list-group-item-action(href="checkout-3.html") Checkout-3