doctype html
html(lang='ro')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Magazin online de Scule electrice Makita Bosch Hitachi DeWalt Metabo

    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css')

    script(src="//code.jquery.com/jquery-3.2.1.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js")
    script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
  body
    <!-- Global SVG spritesheet -->
    .svg-spritesheet
      include ../assets/spritesheet.svg
    block content