nav.pagination-container
  ul.pagination.justify-content-center
    li.page-item.disabled: a.page-link(href="#")
      i.fa.fa-chevron-left 
      | Pagina Anterioara
    li.page-item.active: a.page-link(href="#") 1
    li.page-item: a.page-link(href="#") 2
    li.page-item: a.page-link(href="#") 3
    li.page-item: a.page-link(href="#") 4
    li.page-item: a.page-link(href="#")
      | Pagina Urmatoare
      i.fa.fa-chevron-right 