extends layout

block content
  include header.pug

  include breadcrumb-nav.pug

  .main
    .row
      

  .main-recently-viewed
    .container
      include related-products.pug

  include footer.pug