extends layout

block content
  include header.pug

  include breadcrumb-nav.pug

  .main.product
    // images are subject to copyright
    .container
      .row
        .col-md-4.col-sm-6.margin
          include product/product-slider
        .col-md-8.col-sm-6
          h2.product_title Motosapa Ruris 751KS, 8.5CP, Motor Kama, 4 timpi, 90cm + Roti de cauciuc, Rarita, Plug reversibil
          .product_id
            Cod produs: 70882016
          .product_row
            .product_price
              .product_price__old
                .product_price__count 2279 Lei
                .product_price__sale
                  span Reducere 12%
              .price 1998
                sup 99
                span Lei
            .product_ship
              .product_ship__label
                i.fa.fa-truck
                | Livrare
              .product_ship__label_info
                b
                  | Gratuită
              .product_ship__label
                i.fa.fa-certificate
                | Garanție
              .product_ship__label_info
                span 24 Luni - Persoane fizice
                span 12 Luni - Persoane juridice

          .badge.badge-secondary ÎN STOC FURNIZOR
          p
            span.text-danger Contactează-ne
            |  pentru termenul de livrare.
          a(href="#").btn.add-to-cart
            span ADAUGĂ ÎN COȘ
            i.fa.fa-shopping-cart
      include product/product-detail-tabs

  .main-recently-viewed
    .container
      include related-products.pug

  include footer.pug