extends layout

block content
  include header.pug

  include breadcrumb-nav.pug

  .main.product
    // images are subject to copyright
    .container
      .row.product_header
        .col-md-4.col-sm-6.mb-3.product-left
          .product-left_mobile
            img(src='/assets/product/product-01.png', alt='')
          include product/product-slider
        .col-md-8.col-sm-6.product-right
          h2.product_title Motosapa Ruris 751KS, 8.5CP, Motor Kama, 4 timpi, 90cm + Roti de cauciuc, Rarita, Plug reversibil
          .product_id
            Cod produs: 70882016
          .product_row
            .product_price
              .product_price__old
                .product_price__count 2279 Lei
                .product_price__sale
                  span Reducere 12%
              .price 1998
                sup 99
                span Lei
            .product_ship
              .product_ship__label
                i.fa.fa-truck
                | Livrare
              .product_ship__label_info
                b
                  | Gratuită
              .product_ship__label
                i.fa.fa-certificate
                | Garanție
              .product_ship__label_info
                span 24 Luni - Persoane fizice
                span 12 Luni - Persoane juridice

          .badge.badge-secondary ÎN STOC FURNIZOR
          p.product_text
            span.text-danger Contactează-ne
            |  pentru termenul de livrare.
          a(href="#").btn.add-to-cart
            span ADAUGĂ ÎN COȘ
            i.fa.fa-shopping-cart
          p.product_text.mb-0 Comandă prin telefon la numărul
          a(href="tel:0374770344").text-danger.product_tel
            i.fa.fa-phone
            | 0374.770.344
          p.product_text disponibil de
            b Luni până Vineri între 8 - 18
            |  și
            b  Sâmbăta între 8 - 14.
      include product/product-detail-tabs

  .main-recently-viewed
    .container
      include related-products.pug

  include footer.pug