.container
    .row.mb-md-3
        .col-md-4.col-sm-12.mb-sm-3
            .card
                .card-header.bg-white.d-flex.flex-row.justify-content-between
                    h3.card-title.text-uppercase.mb-0 Special title treatment
                    a(href="#") Modifică
                .card-body
                    h5.mb-3.card-title Livrare prin curier
                    p.card-text.mb-0 Adrian Popescu - 0723738053
                    p.card-text Str. Mr. Alexandru Campeanu, nr. 24 - Bucureşti (Sectorul 1), Bucureşti
        .col-md-4.col-sm-12.mb-sm-3
            .card
                .card-header.bg-white.d-flex.flex-row.justify-content-between
                    h3.card-title.text-uppercase.mb-0 Special title treatment
                    a(href="#") Modifică
                .card-body
                    h5.mb-3.card-title Livrare prin curier
                    p.card-text.mb-0 Adrian Popescu - 0723738053
                    p.card-text Str. Mr. Alexandru Campeanu, nr. 24 - Bucureşti (Sectorul 1), Bucureşti
        .col-md-4.col-sm-12.mb-sm-3
            .card
                .card-header.bg-white.d-flex.flex-row.justify-content-between
                    h3.card-title.text-uppercase.mb-0 Special title treatment
                    a(href="#") Modifică
                .card-body
                    h5.mb-3.card-title Livrare prin curier
                    p.card-text.mb-0 Adrian Popescu - 0723738053
                    p.card-text Str. Mr. Alexandru Campeanu, nr. 24 - Bucureşti (Sectorul 1), Bucureşti

    .row
        .col-12
            .card
                .card-header.bg-white
                    h3.card-title.text-uppercase.mb-0 COMANDĂ
                ul.list-group.list-group-flush
                    li.list-group-item
                        a(href="#").card-text 1 x Motosapa Ruris 751KS, 8.5CP, Motor Kama, 4 timpi, 90cm + Roti de cauciuc, Rarita, Plug
                            | reversibil
                        .card-price 1998,98 Lei
                    li.list-group-item
                        a(href="#").card-text 1 x Mașină de găurit și înșurubat cu acumulatori BOSCH GSR 1440-LI
                        .card-price 490,99 Lei
                    li.list-group-item
                        a(href="#").card-text 1 x Mașină de găurit cu burghie multiconstruct BOSCH GSB 13-RE
                        .card-price 289,99 Lei
                    li.list-group-item
                        a(href="#").card-text 1 x Fierăstrău circular MAKITA HS301DZ, Li-Ion, 10.8V, fără acumulator
                        .card-price 355,00 Lei
                .card-header.d-flex.flex-row.justify-content-between
                    p.card-text.mb-0
                        b Livrare prin curier
                    .card-price
                        b 14,99 Lei

