.container
    .row
        .col-md-12
            #accordion.checkout
                .panel.checkout-step
                    .checkout-step-header
                        h4.checkout-step-title
                            a(role='button', data-toggle='collapse', data-parent='#accordion', href='#stepOne', aria-expanded="true")
                                span.checkout-step-number 1
                                | DATE DE IDENTIFICARE
                    #stepOne.collapse.in.show
                        .checkout-step-body
                            .row.mb-5
                                .col-md-6.bodrer-right-2
                                    p Excelentă alegere! Iată ce date de identificare am găsit în profilul tău de
                                        b  Facebook:

                                    .row
                                        .col-3.mb-3
                                            .checkout-user
                                                img(src='assets/checkout/checkout-user.png')
                                        .col-9
                                            .form-row
                                                .form-group.col-md-6
                                                    label(for='prenume').mb-0 Prenume
                                                    input#prenume.form-control(type='text', placeholder='Adrian')
                                                .form-group.col-md-6
                                                    label(for='nume').mb-0 Nume
                                                    input#nume.form-control(type='text', placeholder='Popescu')
                                            .form-group
                                                label(for='Email').mb-0 Email
                                                input#Email.form-control(type='email', placeholder='adrianpopescu09@gmail.com')
                                        .col-7
                                            .cart-order
                                                button.btn.btn-at.btn-block(role='button', data-toggle='collapse', href='#otp-verifaction')
                                                    | CONTINUĂ CU ACESTE DATE
                                                    i.fa.fa-chevron-right
                                        .col-5
                                            a.btn.btn-default.btn-block(role='button', href='#') Schimbă datele de identificare

                                .col-md-6
                                    p Email-ul
                                        b adrianpopescu09@gmail.com
                                        |  a mai fost folosit în trecut pentru a comanda de pe AtelierulTau.ro.

                                    p Vrei să-ți creăm un cont cu aceste informații ca să poți comanda mai ușor pe viitor? Îți vom trimite
                                        | pe adresa de email toate detaliile necesare.
                            .border-row
                                .border-line
                                span SAU
                            .row
                                .col-md-12
                                    p Folosește datele de identificare
                                        b  (nume, prenume, email)
                                        |  din conturile tale sociale:

                .panel.checkout-step
                    .checkout-step-header#headingTwo(role='tab')
                        h4.checkout-step-title
                            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#stepTwo')
                                span.checkout-step-number 2
                                | LIVRARE ȘI FACTURĂ
                    #stepTwo.panel-collapse.collapse
                        .checkout-step-body
                            .checout-address-step
                                .row
                                    form
                                        .form-group
                                            .col-md-12
                                                button#singlebutton.btn.btn-primary(name='singlebutton') Save
                            a.collapsed.btn.btn-default(role='button', data-toggle='collapse', data-parent='#accordion', href='#stepThree')  Next
                .panel.checkout-step
                    .checkout-step-header#headingThree(role='tab')
                        h4.checkout-step-title
                            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#stepThree')
                                span.checkout-step-number 3
                                | MODALITATEA DE PLATĂ
                    #stepThree.panel-collapse.collapse
                        .checkout-step-body
                            a.collapsed.btn.btn-default(role='button', data-toggle='collapse', data-parent='#accordion', href='#stepFour')  Next

