.checkout-footer-wrapper
    .card.text-center.border-0
        .cart-total
            h5 TOTAL COMANDĂ
            p  &nbsp;3.104<sup>99</sup>&nbsp;Lei
        .card-body
            .pretty.p-svg.p-curve.mb-3
                input(type='checkbox')
                .state.p-danger
                    // svg path
                    svg.svg.svg-icon(viewbox='0 0 20 20')
                        path(d='M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z', style='stroke: white;fill:white;')
                    label.text-danger Prin plasarea comenzii accept termenii și condițiile de pe AtelierulTau.ro.
            .cart-order
                button.btn.btn-at.btn-block.btn-lg
                    | TRIMITE COMANDA
                    i.fa.fa-chevron-right

.cart-services
    .container
        .services-item
            .services-icon
                i.fa.fa-lock
            .services-title Cumperi în siguranță
            .services-content Toate datele sunt transmise securizat pentru cumparaturi in deplina siguranta
        .services-item
            .services-icon
                i.fa.fa-phone
            .services-title Suport telefonic
            .services-content Sună-ne la <a href="">0374.770.344</a> de <b>Luni până vineri</b> între <b>8-18</b> și <b>Sâmbăta</b> între <b>8-14</b>
        .services-item
            .services-icon
                i.fa.fa-undo
            .services-title 30 de zile drept de retur
            .services-content Pentru toate produsele vândute de AtelierulTău.ro
        .services-item
            .services-icon
                i.fa.fa-map-marker
            .services-title Adresa showroom
            .services-content Bld. Gheorghe Șincai nr. 13, bl. 5, ap. 1, inerfon 01, București.
        .services-item
            .services-icon
                i.fa.fa-clock-o
            .services-title Program showroom
            .services-content Luni - Vineri: 09:00 - 18:00. Sâmbătă: 09:00 - 14:00.
        .services-item
            .services-icon
                i.fa.fa-info-circle
            .services-title Alte informații
            .services-content <a href="#">Metode de plată<a> <a href="#">Transport și livrare</a> <a href="#">Garanție</a> <a href="#">Despre noi</a>
.footer-copy
    .container
        span &copy; 2016 AtelierulTau.ro